body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.navegacion {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.teoria{
    display: flex;
}
@media(max-width:800px) {
    .teoria{
    flex-wrap: wrap;
    }
    .piso {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media(max-width:400px) {

   
}


footer {
    background-color: rgba(0, 0, 0, 0.043);
}

.piso {
    display: flex;
    flex-direction: row;
}
/*------------------tablas estilos----------- */

table {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 5px solid #073f5f;
    text-align: center;
}

th {
    background-color: #1c80c88b;
    font-weight: bold;
   
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #13a3db46;
}
/* Estilos responsivos */
@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    th, td {
        text-align: center;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #d3d1d1;
    }
    th {
        background-color: transparent;
        font-weight: bold;
        color: #333;
    }
    tr {
        margin-bottom: 10px;
        display: block;
        background-color: #5986ae57;
    }
    table{
        display: flex;
        justify-content: center;
    }
    
}