body {
	background: rgb(29, 150, 151);
	background: linear-gradient(0deg, rgba(29, 150, 151, 1) 16%, rgba(14, 85, 158, 1) 86%);
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h2 {
	padding: 25px;
	margin: 0px;
	word-wrap: break-word; /* Permite que las palabras largas se dividan y ajusten al contenedor */
	overflow-wrap: break-word; /* Similar a word-wrap, garantiza que el contenido no se desborde */
	width: 100%; /* Asegura que el h2 ocupe todo el ancho del contenedor */
	box-sizing: border-box; /* Asegura que el padding se incluya en el ancho */
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
}


.titulo {
	height: 60px;
	width: 100%;
	text-align: end;
}

.salir {
	text-align: center;
	background-color: rgb(255, 129, 11);
	width: 40px;
	height: 40px;
	padding-right: 35px;
	margin-right: 20px;
}

.salir:hover {
	background-color: rgb(186, 95, 10);
}

.formulario {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

/* Estilo base para la caja de entrada */
input[type=text] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	font-size: 18px;
	width: 300px;
}

/* Estilo para la caja de entrada cuando está enfocada */
input[type=text]:focus {
	outline: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para la caja de entrada cuando se coloca el cursor encima */
input[type=text]:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para el texto dentro de la caja de entrada */
input[type=text]::placeholder {
	color: #999;
	font-style: italic;
}

/* Estilo para el texto dentro de la caja de entrada cuando está enfocada */
input[type=text]:focus::placeholder {
	color: #666;
}

/* Estilo para el botón de búsqueda */
button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	width: 300px;
}

button:hover {
	background-color: #3e8e41;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.contenedor {
	width: 100%;
	height: auto;
	padding: 2px;
	box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}
